.tablewrapp
  %span.titletable
    Availability
  %table.Availability{:cellspacing => "3", :cellpadding => "2"}
    %tr
      %td.b#square
      - day_i = 0
      - Day.all.each do |day|
        %td.b.day{:id => "day#{day_i}"}= day[0..2].capitalize
        - day_i += 1
    - (0..23).each do |i|
      %tr
        %td.b.hour{:id => "hour#{i}"}
        - day_i = 0
        - Day.all.each do |day|
          = f.fields_for day do |day_form|
            %td.day-hour{:class => "day#{day_i} hour#{i} #{volunteer.available?(day, i) ? 'gn' : 'gy'}"}
              = day_form.hidden_field i, :value => volunteer.available?(day, i) ? 1 : 0
              = "%02d:00" % i
          - day_i += 1
