%h1 Listing volunteers

%p 
  Import
  = form_for :import_volunteers, :url => import_volunteers_path, :html => {:multipart => true} do |f|
    = file_field_tag :file
    = f.submit 'Upload'

%br

%table
  %tr
    %th Name
    %th Lat
    %th Lng
    %th Address
    %th Voice number
    %th Sms number
    %th
    %th
    %th

  - @volunteers.each do |volunteer|
    %tr
      %td= volunteer.name
      %td= volunteer.lat
      %td= volunteer.lng
      %td= volunteer.address
      %td= volunteer.voice_number
      %td= volunteer.sms_number
      %td= link_to 'Show', volunteer
      %td= link_to 'Edit', edit_volunteer_path(volunteer)
      %td= link_to 'Destroy', volunteer, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Volunteer', new_volunteer_path
