- content_for :head do
	= javascript_include_tag 'volunteer_index'
	
%h1= "#{@volunteers_count} volunteers"

.tablewrapp
	%table.GralTable.ButtonTable
		%tr
			%th= sort_link 'Name', :name
			%th= sort_link 'Address', :address
			%th= sort_link 'Voice Number', :voice_number
			%th= sort_link  'SMS Number', :sms_number
		- @volunteers.each do |volunteer|
			%tr.link{'data-url' => edit_volunteer_path(volunteer)}
				%td= volunteer.name
				%td= volunteer.address
				%td= volunteer.voice_number
				%td
					= volunteer.sms_number
					= form_tag volunteer_path(volunteer), :method => :delete, 'data-confirm' => 'Are you sure?' do
						%button.avoid.fdelete
					= form_tag edit_volunteer_path(volunteer), :method => :get do
						%button.avoid.farrow
	= paginate @volunteers
= link_to 'New Volunteer', new_volunteer_path
%p 
	Import
	= form_for :import_volunteers, :url => import_volunteers_path, :html => {:multipart => true} do |f|
		= file_field_tag :file
		= f.submit 'Upload'