%h1 New #{@channel_kind.display_name}

= render partial: 'errors'

= form_for @pigeon_channel, url: channels_path do |f|
  = hidden_field_tag :kind, @channel_kind.type_and_kind

  = render partial: 'form', locals: { :f => f }

  %br
  .actions
    = button_tag 'Create channel', :class => 'grey'
    = link_to 'Cancel', channels_path, :class => 'grey'

