<%= devise_error_messages! :class => 'centered w30' %>
<br><br>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4"></div>
      <div class="span4 well-white login">

        <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
          <legend>Resend confirmation instructions</legend>
          <div class="control-group">
            <div class="controls"> 
            <%= f.label :email %>
            <%= f.email_field :email, class:"span12" %>
            </div>
          </div>

          <div class="control-group">
            <div class="controls"> 
              <button type="submit" class="btn">Resend confirmation instructions</button>
            </div>
          </div>

        <% end %>

        <%= render :partial => "devise/shared/links" %>
      </div>
    <div class="span4"></div>
  </div>
</div>

