<%= devise_error_messages! :class => 'centered w30' %>
<div class="container-fluid registration">
  <div class="row-fluid">
    <div class="span4"></div>
      <div class="span4 well-white">

        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
          <legend>Forgot your password?</legend>
          <div class="control-group">
            <div class="controls"> 
              <%= f.label :email %>
              <%= f.email_field :email, class:"span12" %>
            </div>
          </div>

          <div class="control-group">
            <div class="controls"> 
              <button type="submit" class="btn">Send me reset password instructions</button>
            </div>
          </div>

        <% end %>

        <%= render :partial => "devise/shared/links" %>

      </div>
    <div class="span4"></div>
  </div>
</div>
