<%= devise_error_messages! :class => 'acenter' %>
<div class="container-fluid registration">
  <div class="row-fluid">
    <div class="span4"></div>
      <div class="span4 well-white">  
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <legend>Log In</legend>
          <div class="control-group">
            <div class="controls">          
              <%= f.label :email %>
              <%= f.email_field :email, class:"span12" %>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">               
              <%= f.label :password %>
              <%= f.password_field :password, class:"span12" %>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <% if devise_mapping.rememberable? -%>
                <label class="checkbox">
                  <%= f.check_box :remember_me %>
                  Remember me
                </label>
              <% end -%>
              <button type="submit" class="btn">Log In</button>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">          
              <%= render :partial => "devise/shared/links" %>
            </div>
          </div>
        <% end %>

      </div>
    <div class="span4"></div>
  </div>
</div>