#volunteers
	%table
		- mission.candidates.each do |c|
			%tr.candidate
				%td= c.status
				%td= c.volunteer.name
				%td= c.volunteer.voice_number
				%td= c.volunteer.sms_number
#status
	%table
		%tr
			%td LOGO
			%td Confirmed
			%td= mission.candidate_count('confirmed')
		%tr
			%td LOGO
			%td Pending
			%td= mission.candidate_count('pending')
		%tr
			%td LOGO
			%td Denied
			%td= mission.candidate_count('denied')
		%tr
			%td LOGO
			%td Unresponsive
			%td= mission.candidate_count('unresponsive')
