%tr{:class => "candidate #{"blocked" unless candidate.active}", 'data-lat' => candidate.volunteer.lat, 'data-lng' => candidate.volunteer.lng, 'data-url' => volunteer_path(candidate.volunteer)}
	%td
		- if candidate.pending? && !@mission.finished?
			%span.avoid{:id => "candidate_paused_form_#{candidate.id}"}
				= render :partial => 'shared/candidate_paused_form', :locals => {:candidate => candidate}
		%span= candidate.volunteer.name
	%td
		- candidate.volunteer.sms_channels.each do |sms_channel|
			%span{:class => candidate.active ? "mobile" : "gmobile"}= sms_channel.address
			%br
		- candidate.volunteer.voice_channels.each do |voice_channel|
			%span{:class => candidate.active ? "phone" : "gphone"}= voice_channel.address
			%br