%p 
	Calling List
	= radio_button_tag 'filter_btn', 'all', true
	All
	= radio_button_tag 'filter_btn', 'confirmed'
	Confirmed
	- if mission.candidate_count('pending') > 0
		%div#call_button_canvas
			- if mission.status_created?
				= button_to 'Start Recruiting', start_mission_path(@mission), :remote => true
			- if mission.status_running?
				= button_to 'Stop Recruiting', stop_mission_path(@mission), :remote => true
			- if mission.status_paused? || mission.status_finished?
				= button_to 'Resume Recruiting', start_mission_path(@mission), :remote => true
#volunteers{'data-refresh-url' => (refresh_mission_path(@mission) rescue nil)}
	%table
		- mission.candidates.each do |c|
			%tr{:class => ('candidate candidate-'+c.status.to_s)}
				%td= c.status
				%td= c.volunteer.name
				%td= c.volunteer.voice_number
				%td= c.volunteer.sms_number
#status
	%table
		%tr
			%td LOGO
			%td Confirmed
			%td= mission.candidate_count('confirmed')
		%tr
			%td LOGO
			%td Pending
			%td= mission.candidate_count('pending')
		%tr
			%td LOGO
			%td Denied
			%td= mission.candidate_count('denied')
		%tr
			%td LOGO
			%td Unresponsive
			%td= mission.candidate_count('unresponsive')
