= form_for mission, :remote => true, :html => {:id => 'mission_form'} do |f|
	= f.hidden_field :lat
	= f.hidden_field :lng
	= f.label :name, "Event name"
	%br
	= f.text_field :name, :class => "ux-text w58", :size => "2", :placeholder => "Enter the name of this event, e.g. 'Fire on Rangeland' ", :readonly => mission.running? || mission.finished?
	%br
	%br
	= f.label "Recruitees"
	- mission.mission_skills.each do |mission_skill|
		= f.fields_for :mission_skills, mission_skill do |ms|
			= render :partial => 'mission_skill', :locals => { :f => ms }
	- unless !mission.created? || mission.new_record? || skills.actives.empty?
		%button.cadd Recruit for another skill
	%br
	= f.label :reason, "Description"
	%br
	= f.text_area :reason, :class => "w54 ux-wajbar", :maxlength => "200", :size => "", :readonly => mission.running? || mission.finished?, :placeholder => "Enter the description, e.g 'a single house fire'"
	%br
	= f.label :address
	%br
	%span.small-text Enter an address to find recruitees nearby or you can right-click in the map to indicate a location
	= f.text_field :address, :class => "w42 ux-text", :readonly => !mission.created?, :placeholder => "Enter the address, e.g '1710 Trousdale, Burlingame'"
	%button#search_address.fsearch{:disabled => !mission.created?, :class => !mission.created? ? "disabled" : "" } Find recruitees nearby
	%br
	%br
