= form_for mission, :remote => true, :html => {:id => 'mission_form'} do |f|
	= f.hidden_field :lat
	= f.hidden_field :lng
	%table
		%tr
			%td Recruit
			%td
				.ux-nstep.w06
					= f.text_field :req_vols, :size => '2', :readonly => mission.running? || mission.finished?, 'data-min' => '1'
				.ux-dropdown.w30
					= f.collection_select(:skill_id, Skill.actives, :id, :pluralized, {:include_blank => 'volunteers'}, :disabled => !mission.created?  )
		%tr
			%td for
			%td
				= f.text_area :reason, :placeholder => "Write your comment here", :class => "w54 ux-wajbar", :maxlength => "200", :size => "", :readonly => mission.running? || mission.finished?
		%tr
			%td Name
			%td
				= f.text_field :name, :class => "w54"
		%tr
			%td near
			%td
				= f.text_field :address, :class => 'w54 ux-search', :placeholder => "Search", :readonly => !mission.created?