= form_for mission, :remote => true, :html => {:id => 'mission_form'} do |f|
	%p
		= f.label :req_vols, 'Recruit'
		= f.text_field :req_vols, :class => 'mission_form_input'
		= f.collection_select(:skill_id, Skill.actives, :id, :pluralized, {:include_blank => 'volunteers'}, :class => 'mission_form_input strict_mission_form_input')
		= f.text_field :reason, :class => 'mission_form_input'
	%p
		= f.label :address, 'near'		
		= f.text_field :address, :class => 'mission_form_input strict_mission_form_input'
	%p
		= f.label :lat
		= f.text_field :lat, :class => 'coord mission_form_input strict_mission_form_input'
		= f.label :lng
		= f.text_field :lng, :class => 'coord mission_form_input strict_mission_form_input'
