.mission_skill
    = f.hidden_field :id
    = f.hidden_field :priority
    %br
    %span.ux-nstep.w06
        = f.text_field :req_vols, :size => "2", :class => 'req_vols', :readonly => mission.running? || mission.finished?, "data-min" => "1"
    %span
        = f.collection_select(:skill_id, skills.actives, :id, :pluralized, {:include_blank => 'Volunteers'}, :disabled => !mission.created?, :class => "ux-dropdown w30 skill_id")
    - unless mission.mission_skills.size == 1 || !mission.created?
        %button.cremove{'data-name' => "#{f.object_name}[_destroy]"} Remove this skill
    %br
