= hidden_field_tag :status, @mission.status, :id => 'status_field'
#progress.values
	= render :partial => 'progress', :locals => {:mission => mission}
- if mission.created?
	- if mission.new_record?
		%button.orange.disabled Start recruiting
	- else
		= form_tag start_mission_path(mission), :remote => true do
			%button.orange Start recruiting
- elsif mission.running?
	= form_tag stop_mission_path(mission), :remote => true do
		%button.orange Pause recruiting
- elsif mission.paused?
	= form_tag start_mission_path(mission), :remote => true do
		%button.orange Start recruiting
- else
	= form_tag open_mission_path(mission), :remote => true do
		%button.orange Start recruiting