- if mission.candidates.count > 0
  #confirmed_list.listitem.ux-collapsible
    = render :partial => 'candidate_list', :locals => {:title => 'Confirmed', :candidates => mission.confirmed_candidates}
  %hr
  #check_candidates.right
    = render :partial => 'check_candidates', :locals => {:mission => mission}
  #pending_list.listitem.ux-collapsible
    = render :partial => 'candidate_list', :locals => {:title => 'Pending', :candidates => mission.pending_candidates}
  %hr
  #unresponsive_list.listitem.ux-collapsible
    = render :partial => 'candidate_list', :locals => {:title => 'No answer', :candidates => mission.unresponsive_candidates}
  %hr
  #denied_list.listitem.ux-collapsible
    = render :partial => 'candidate_list', :locals => {:title => 'Denied', :candidates => mission.denied_candidates}
- else
  - if mission.valid?
    %p.empty-event No volunteers with the selected skills are available near the event location
  - else
    %p.empty-event This event has not been initialized, complete all the fields and start recruiting
