- content_for :head do
	= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false'
	= javascript_include_tag 'mission_page'

= render 'shared/header'

#left-panel
	#form_canvas
		= render :partial => "form", :locals => { :mission => @mission }
	= render :partial => "distance", :locals => { :distance => @distance, :mission => @mission }
	#map_canvas
		here goes the map!
#right-panel
	#volunteers_canvas
		= render :partial => "candidates", :locals => { :mission => @mission }

= hidden_field_tag :status, @mission.status, :id => 'status_field'
