%h1 My missions

%table
	- @missions.each do |mission|
		%tr
			%td= mission.status
			%td= mission.reason
			%td= mission.address
			%td= mission.candidate_count 'confirmed'
			%td= mission.req_vols
			%td= link_to 'GO', mission_path(mission)

= link_to 'New mission', new_mission_path
