- content_for :head do
  = javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false'
#mission_title
  = render :partial => 'title'
%br
.left
  #left_panel.box.w60(data-bind="css: { grey: isRunningOrFinished }")
    #form_container
      = render :partial => 'form'
    #map_canvas.map
    #mission_distance
      = render :partial => 'distance'  
.right
  .box.w30
    #mission_status.sbox.grey.StateDisplay
      = render :partial => 'status'
    #mission_message.event-desc
      = render :partial => 'message'
    %hr.shadow
    #scroll
      = render :partial => 'candidates'
.clear
%br
%hr
.bottom-actions(data-bind="visible: id()")
  %button.fimport(data-bind="click: exportData") Download recruiting results
  %button.fdelete(data-bind="click: deleteMission") Delete this event
.bottom-actions(data-bind="visible: !id()")
  = link_to 'Cancel', missions_path, :class => 'tgrey'


:javascript
  var DefaultSkill = { id: null, name: 'Volunteer', pluralized: 'Volunteers' };
  var ActiveSkills = #{skills.actives.sort_by(&:name).map { |s| 
    { :id => s.id, 
      :name => s.name, 
      :pluralized => s.pluralized } 
  }.to_json.gsub('</','<\/')};
  var VerboiceChannels = #{pigeon_channels.verboice.map { |c|
    { :id => c.id,
      :name => c.name }
  }.to_json.gsub('</','<\/')};
  var NuntiumChannels = #{pigeon_channels.nuntium.map { |c|
    { :id => c.id,
      :name => c.name }
  }.to_json.gsub('</','<\/')};
  var MissionData = #{mission_json.to_json.gsub('</','<\/')};

  onMissionPage();
