- content_for :head do
	= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false'
	= javascript_include_tag 'mission_page'
#mission_title
	= render :partial => 'title', :locals => { :mission => @mission }
%br
.left
	#left_panel.box.w60
		#form_container
			= render :partial => 'form', :locals => { :mission => @mission }
		#map_canvas
		.hidden
			#info_window_content
		#mission_distance
			= render :partial => 'distance', :locals => { :distance => @mission.farthest, :mission => @mission }
.right
	.box.w30
		#mission_status.sbox.grey.StateDisplay
			= render :partial => 'status', :locals => {:mission => @mission}
		#mission_message.event-desc
			= render :partial => 'message', :locals => {:mission => @mission}
		%hr.shadow
		#scroll
			= render :partial => 'volunteers', :locals => {:mission => @mission}
.clear
%br
%hr
%br
#mission_actions
	= render :partial => 'actions', :locals => {:mission => @mission}
%br
%br
%br