!!!
%html
  %head
    %title Watchfire
    //= stylesheet_link_tag platform_url('theme/stylesheets/theme.css')
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    //= javascript_include_tag platform_url('theme/javascripts/theme.js')
    = csrf_meta_tag
    = yield :head
    %link{:href => asset_path('icons/favicon.png'), :rel => "icon", :type => "image/png"}
  %body.smallfooter
    = flash_message
    .wrapper
      .navbar.top
        .navbar-inner
          .container-fluid
            .row-fluid
              .span3
                <img src="/assets/theme/header/InSTEDDPlatform.png" vspace="7" title="InSTEDD Platform" >
              .span6.acenter
                %ul.NavMenu
                  - if user_signed_in?
                    = section 'Events', missions_path, :missions
                    = section 'Volunteers', volunteers_path, :volunteers
                    = section 'Members', members_path, :members
                    = section 'Channels', channels_path, :channels
              .span3.aright
                - if user_signed_in?
                  .btn-group
                    %a.btn.btn-link.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                      = current_user.display_name
                      - if current_user.current_organization
                        %span{style: 'color:#555'} (#{current_user.current_organization.name})
                    %ul.dropdown-menu
                      - if current_user.current_organization
                        - other_organizations = current_user.organizations.sort_by(&:name) - [current_user.current_organization]
                        - if other_organizations.present?
                          - other_organizations.each do |organization|
                            %li= link_to organization.name, select_organization_path(organization)
                          %li.divider
                      %li= link_to 'My Account', edit_user_registration_path
                      %li.divider
                      %li= link_to 'Log Out', destroy_user_session_path
                  %a.ic-white{:href => edit_user_registration_path}
                    %i.icon-cog
      .app-header
        .container-fluid
          .row-fluid
            .span3
              %a{:href => "/"}
                %img{:src => "/assets/watchfire.png"}/
            .span9
              - if user_signed_in?
                = breadcrumb
      .content
        = yield
      .footer
        .container-fluid
          .row-fluid.top
            .span5
              <img src="/assets/theme/footer/InSTEDDPlatform.png" vspace="7" title="InSTEDD Platform" >
              %br
              InSTEDD has created an evolving platform of free and open source technologies to support humanitarian causes. These tools can be used individually or as building blocks for larger solutions.
              %a{:href => "http://instedd.org/technologies/"} Click here
              to learn more
            .span7
              %a.more.pull-right{:href => "http://instedd.org/technologies/"} Learn more
              %br
              #instedd-footer.pull-right{"data-app-name" => "nuntium"}
          .row-fluid
            .span4
              %a{:href => "http://instedd.org"} © 2011 InSTEDD
              %a{:href => "#TODO"} Terms and conditions
              %a{:href => "#TODO"} Contact us
            .span6.offset2.aright
              = link_to 'Events', missions_path
              = link_to 'Volunteers', volunteers_path
              = link_to 'Members', members_path
              %a#invite_bubble_trigger{:href => "#"} Invite new users
              #invite_bubble_content
                = render :partial => "shared/invite_bubble_form"
              %span#version
                Version: #{watchfire_version}
