<%= devise_error_messages! %>
<div class="container-fluid registration">
  <div class="row-fluid">
    <div class="span4"></div>
      <div class="span4 well-white">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <legend>Create account</legend>
          <div class="control-group">
            <div class="controls"> 
            <%= f.label :email %>
            <%= f.email_field :email, :value => resource.email.presence || params[:email], class:"span12" %>
            </div>
          </div>

          <div class="control-group">
            <div class="controls"> 
            <%= f.label :password %>
            <%= f.password_field :password, class:"span12" %>
            </div>
          </div>
          <div class="control-group">
            <div class="controls"> 
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class:"span12" %>
            </div>
          </div>
          <div class="control-group">
            <div class="controls"> 
            <button type="submit" class="btn">Create account</button>
            </div>
          </div>
        <% end %>

        <%= render :partial => "devise/shared/links" %>

      </div>
    <div class="span4"></div>
  </div>
</div>
